.box{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* backgrond-color: #ffffff !important; */
}
/* header :start */
.manu-head{
    padding: 15px 0;
}
.imges{}
.imges img{
    width: 100%;
}
.m-menu{}
.m-menu ul{}
.m-menu ul li{}
.m-menu ul li a{
    font-weight: 600;
    text-transform: uppercase;
    color: #8e8e8e;
}
.m-menu ul li a :hover{

    color: #333333;
}
.s-search{}
.s-searched :hover {
    background-color: transparent;
    
}
.s-search a i{
    color: #8e8e8e;
}
.s-searched::after {
        display: none;
        
}
.d-menu{
    width: 344px;
    border-color:#8e8e8e;
}
.d-menu[data-bs-popper] {
    padding: 4px 20px;
    top: 53px;
    left: -300px;
}
.n-form {
   
    border: 1px solid transparent !important;
    
    
}
.n-form:focus {
    
    box-shadow: none;
}

.s-submit{

}


/* header :end */
/* hero :start */
.banner{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.text{
    margin: 200px 0px;
}
.text h2{
    font-size: 48px;
    color: #ffffff;
}
.text p{
    margin: 35px 0px 70px;
    color: #ffffff;
    
}
.text a{
    padding: 10px 20px;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    
}
.text a span{}

.b-p{
    border: transparent;
    color: #8e8e8e;
}
.b-n{
    border: transparent;
    color: #8e8e8e;
}
.hi{
    color: #8e8e8e;
}
.hi-m{
    color: #333333;
}
/* hero :end */
/* feature :start */
.feature{
    background-color: #ffffff;
}
.f-title{}
.rek{
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #333333;
}
.h-title{}
.h-title h1{
    font-size: 30px;
    font-weight: 700;

}
.f-para{}
.f-para p{
    margin: 30px 0 85px;
}

/* single feature 3rd row */
.s-featur{
    margin: 45px 0 80px;
    
    text-align: center;
    border: 1px solid #8e8e8e;
}

.icon{
    margin-top: -18px;
    width: 60px;
    display: inline-block;
    background-color: transparent;

    
}
.icon i{
    color: #8e8e8e;
    font-size: 45px;
    /* background-color: #f1f1f2; */
}
.s-f-h2{}
.s-f-h2 h2{
    margin: 30px 0 0px;
    font-size: 22px;
    text-transform: uppercase;

}
.hr{}
.s-f-hr{
    display: inline-block;
    width: 25%;
}
.s-f-p{}
.s-f-p p{
    color: #8e8e8e;
}
.ankor{
    margin: 25px 0px 30px;

}
.ankor a{
    font-weight: 500;
    color: #8e8e8e;
    text-transform: uppercase;
    text-decoration: none;
}
div.s-featur:hover a{
    color: black;
    
}
div.s-featur:hover h2{
    color: black;
}
div.s-featur:hover i{
    color: black;
}
div.s-featur:hover {
    border: 1px solid black;
}
/* feature :end */
/* about :start */
.abot{
    margin-bottom: 100px;
    background-color: #ffffff;
}
.pic{}
.pic img{}
.a-text{}
.g-5 {
        --bs-gutter-y: 0rem;
}
.a-text h1{
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;

    
}
.a-text p{
    margin: 20px 0 30px;
}
.a-ankor{
    padding: 5px;
    width: 170px;
    height: 35px;
    text-align: center;
    border: 1px solid #8e8e8e;
}
.a-ankor a{
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
}
/* about :end */
/* work :start */
.recent-work{
    padding-bottom: 100px;
    background-color: #f8f8f8;
}
.bar{
    margin: 50px 0 40px;
    
}
.work-menu{
    
}
.work-menu ul{
    
}
.work-menu ul li{
    
    
}
.work-menu ul li a{
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.work-menu ul li:last-child a{
    margin-right: 0;
    
}
.work-menu ul li:hover a{
    /* border: 1px solid #333333; */
}


.box{
    
    margin-bottom: 20px;
}
 /* hover effect :start */

 .box {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;

    
  }
  
  .box:hover .overlay {
    opacity: .5;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
  }
  
  .text-ho {
    
    /* color: rgb(3, 2, 2); */
    font-size: 20px;
    position: absolute;
    bottom: 0; 
    background-color: white;
    
    
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    padding: 20px;
    text-align: center;       
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, 10%);
    
  }
  .text-ho a{
    text-decoration: none;
    color: black;
  }
  



 /* hover effect :end */

.box img{}



/* work :end */
/* choose nipro start */
.choose{
    background-color: #ffffff;
   margin-bottom: 100px;
}
.cho-title{
    margin-bottom: 85px;
}
.creative{
    padding: 15px 0;

}
.c-title{
    
}
.c-title i{
    color: #8e8e8e;
    font-size: 28px;
}
.c-title h3{
    margin-left: 20px;
    color: #8e8e8e;
    display: inline;
    
}
.p-creative{}
.p-creative p{
    margin: 25px 0px;
}
.creative hr{}
.creative:hover I{
    color: #333333;
}
.creative:hover h3{
    color: #333333;
}
.creative :hover hr{
    color: #333333;
}
/* choose nipro end */
/* employee :start */
.employee{
    padding-bottom: 100px;
    background-image: url(images/Nipro-2nd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
/* single hover emplyee :start */
.box1 img,.box1:after,.box1:before{
    width:100%;
    transition:all .3s ease 0s
}
.box1 .icon-ho,.box2,.box3,.box4,.box5 .icon-ho li a{
    text-align:center
}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon-ho li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{
    letter-spacing:1px
}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{
    font-style:italic
}
body{
    /* background-color:#f1f1f2 */
}
.mt-30{
    margin-top:30px
}
.mt-40{
    margin-top:40px
}
.mb-30{
    margin-bottom:30px
}
.box1 .icon-ho,.box1 .title{
    margin:0;
    position:absolute}
.box1{
    box-shadow:0 0 3px rgba(0,0,0,.3);
    position:relative}
.box1:after,.box1:before{
    height:50%;
    background:rgba(0,0,0,.5);
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    transform-origin:100% 0;
    transform:rotateZ(90deg)
}
.box1:after{
    top:auto;
    bottom:0;
    transform-origin:0 100%
}
.box1:hover:after,.box1:hover:before{
    transform:rotateZ(0)
}
.box1 img{
    height:auto;
    transform:scale(1) rotate(0)}
.box1:hover img{
    filter:sepia(0%);
    transform:scale(1.3) rotate(10deg)}

.box1 .icon-ho{
    padding:7px 5px;
    list-style:none;
    /* background:#2e62d1; */
    border-radius:0 0 0 10px;
    background-color: transparent;
    top:-100%;
    right:0;
    z-index:2;
    transition:all .3s ease .2s}
.box1:hover .icon-ho{
    top:0}
.box1 .icon-ho li{
    
    display:block;
    margin:20px 0}
.box1 .icon-ho li a{
    display:block;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: rgb(201, 199, 199);
    line-height:35px;   
    border-radius:10px;
    font-size:18px;
    background-color: transparent;
    /* color:rgb(10, 5, 5); */
    transition:all .3s ease 0s}
    
.box2 .icon-ho li a,.box3 .icon-ho a:hover,.box4 .icon-ho li a:hover,.box5 .icon-ho li a,.box6 .icon-ho li a{border-radius:50%}
.box1 .icon li a:hover{color:rgb(7, 1, 1);box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}




/* single hovere emplyee :end */
.em-text{ 
    padding: 10px 15px;
    background-color: #f8f8f8;
}
.em-text h3{
    font-size: 18px;
    font-weight: 500;
}
.em-text p{
    color: #8e8e8e;
}
/* employee :end */
/* best price :start */
.b-pri{
    padding-bottom: 100px;
    background-color: white;
}
.price-sec{
    padding: 0 15px;
    border: 1px solid #8e8e8e;
}
.basic{
    margin-top: -16px;
    width: 40%;
    text-align: center;
    

}
.basic h4{
    text-transform: uppercase;
    background-color: #ffffff;
}
.pric{
    
}
.pric span{
    font-size: 18px;
    font-weight: 500;
}
.pric h3{
    margin: 25px 0 30px;
}

.ditls p{ 
    font-weight: 500;
}

.sign-but{
    margin: 30px 0;
}
.sign-but a{
    padding: 10px 45px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8e8e8e;
    text-decoration: none;
    border: 1px solid #8e8e8e;
    
}
div .price-sec:hover a{
    color: #333333;
}
div .price-sec:hover h4{
    font-weight: 700;
    color: #333333;
}
div .price-sec:hover{
    color: #333333;
}
    
    
    

/* best price :end */
/* nipro responsive :start */
.res{
    margin-bottom: 100px;
    min-height: 80px;
    background-color: #f8f8f8;
    
    
}
.res-dis{
    position: relative;
}
.res-text{
    
}
.res-text p{
    margin: 30px 0;
    font-weight: 500;
    text-transform: uppercase;

}
.res-btn{
    margin: 22px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.res-btn a{
    padding: 10px 35px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #333333;
    border-radius: 0;
}

/* nipro responsive :end */
/* client carousel :start */
.cl-comments{
    margin-bottom: 100px;
}
.c-slider{}
.cl-sec{
    padding: 20px;
    border: 1px solid black;
}
.cl-img{}
.cl-img img{}
.cl-text{}
.cl-text h1{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.degi{
    margin: 10px 0;
}
.dep{
    font-weight: 500;
}
.mssg{}

.cl-sld-btn{
    writing-mode: vertical-rl; 
    /* min-height: 308px; */
   background-color: #f8f8f8;
    border: 1px solid black;
}
.cl-sld-btn button{
    margin: 50px 0 50px;
    transform: rotate(90deg);
}
.cl-sld-btn span{
    align-items: center;
     
}
.cls-pv-btn{
    margin-top:-16px 45px;
    
    
    
}
.cls-nxt-btn{
    
    margin: 32px 0px 16px;
    
}

/* client carousel :end */
/* form section :start */
.form-sec{
    margin-bottom: 100px;
    border: 1px solid #8e8e8e;
}
.form-title{
    margin-top: -30px;
}
.form-title h1{}
.cont-form{
    margin-top: 60px;
    
}

.form-control:focus {
    
    
    border-color: none;

    box-shadow: none;
}


.form-bo{
    padding: 16px 10px;
    border: none;
    border-bottom: 1px solid #8e8e8e;
}
.form-btn{
    margin: 20px 0;
    margin-left: 50%;
    padding: 10px 30px;
    
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid #8e8e8e;
    border-radius: 0;
}

/* form section :end */
/* footer :start */
.foo{
    background-image: url(images/Nipro-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.foot-title{}
.foot-per{
    margin: 25px 0;
}
.foot-per p{
    color: #f8f8f8;
    font-size: 14px;

}

.foot-soc{
    margin-bottom: 80px;
}
.foot-soc a{
    margin: 0 5px;
    color: #f8f8f8;
}
.foot-soc a i{
    padding: 18px 20px;
    border: 1px solid #8e8e8e;
}
.foot-soc a:hover i{
    background-color: #f8f8f8;
    color: #000000;
}


.foo hr{
    color: #f8f8f8;
}
.foot-bot{ 
    
}
.foot-cop p{
    font-size: 13px;
    font-weight: 400;
    color: #f8f8f8;
}
.foot-fo{}
.foot-fo ul{}
.foot-fo ul li{}
.foot-fo ul li{}
.foot-fo ul li a{ 
    color: #f8f8f8;
}
.foot-fo ul li:hover a{
    color: #f8f8f8;
}
/* footer :end */